# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.micro-notes.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\labs\Semestr 4\PaAPS\microserivces\micro-notes\.idea\.idea.micro-notes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
